{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="mx-5 text-align-justify">
        <img src="{% static 'profile-pic.png' %}" alt="Profile Picture of Rishi Ganji">
        <p>I am Rishi Ganji, and I like many activities. During my free time, I like playing video games and trying new cuisines through cooking and experimenting with some new recipes. Also, I love playing sports: volleyball, table tennis, badminton, and cricket. These hobbies keep me balanced and give me an outlet to relax and have fun.<br><br>
        Professionally, I see myself as a full-stack web developer and software engineer. My dream is to have a career in any leading multinational company, apply the skills learned, grow with experience, and work on exciting projects. What motivates me is building a successful career and attaining long-term success in life.</p>
    </div>
</div>
{% endblock %}
