{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="mx-5 text-align-justify">
            <h2>The Game of Chess</h2>
            <p>Chess is a strategic game played by two people on a square board with 64 smaller squares. There are 6 different types of characters in the game with 16 pieces for each player. The pieces include eight pawns, two knights, two bishops, two rooks, one queen, and one king. All pieces are moved through different squares on the board in turn. Each piece has its own way of moving and thereby captures the player's other pieces. 
                <br>
                <br>
                Since there are two sets of pieces for each player, they are categorized as either black pieces or white. The player whose pieces are white has the first move. Since he gets to make the first move, it gives white a slight edge and it wins more often than Black.
                The main purpose of the game is to checkmate the opponent's king. The checkmate happens when the king is in the position to be captured and cannot escape capture and its game over.
            </p>
            <h3>The History</h2>
            <p>
                Chess is one of the oldest games played globally today. It started in northern India at the beginning of the 7th century and was known as "chaturanga," which means "four divisions of the military" in Sanskrit, referring to the infantry, cavalry, elephants, and chariots. It spread through Persia, where it was adopted as "shatranj," and subsequently to the Islamic world. In Europe, it was noted by the 10th century and slowly evolved into the modern chess game known today.
                <br>
                <br>
                Throughout the ages, chess has been a game not only for kings but also for scholars and served as a tool for developing human faculties in strategic thinking. The 19th century saw the establishment of rules, with international tournaments gaining their respective popularity. These days, chess is played worldwide both for serious tournaments by grandmasters and world championships and attracts global attention. The game's popularity has also expanded through online platforms, making it accessible to millions of players around the globe.
            </p>
        </div>
    </div>
{% endblock %}

